.scrbox {
  font-size: 12pt;
  height:140px;
	width:800px;
	border:1px solid #ccc;
	overflow:auto;
	overflow-wrap: break-word;
}

.intro {
	background: white;
	word-wrap: normal;
	width: 800px;
	height: 850px;
	color: black;
	font-family: 'Arial';
	font-size: 15pt;
	border-radius: 0.5em;
	padding: 1em;
  margin: auto; /* Выравниваем по центру */
		}
    
.button {
	background-color: #4CAF50;
	border: none;
	color: white;    
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	height: 70px;
	width: 800px;
  margin-right: ;
}
